<header class="header">
    <div class="logo">
      <i class="fa-solid fa-hands"></i> Artesanía
    </div>
    <nav>
      <a href="../index.html" class="active">
        <i class="fa-solid fa-house"></i> Inicio
      </a>

      <a href="../ponentes.html">
        <i class="fa-solid fa-users"></i> Ponentes
      </a>
      
      <a href="../informacion.html">
        <i class="fa-solid fa-circle-info"></i> Información
      </a>

      <a href="../contacto.html">
        <i class="fa-solid fa-envelope"></i> Contacto
      </a>
    </nav>
</header>